:root {
  --color-primary: #570e19;
  --color-primary-light: #ab5264;
  --color-secondary: black;
  --color-accent: #773e36;
  --color-neutral-beige: #a36b67;
  --color-whatever: #c9c0c0;

  --font-primary: 'Poiret One', cursive;
  --font-secondary: 'Roboto', sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-primary);
  color: var(--color-primary);
}
button {
  font-family: var(--font-secondary);
  color: none;
}

p {
  font-family: var(--font-secondary);
}

a {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
}

ul {
  font-family: var(--font-secondary);
  color: var(--color-primary);
  text-decoration: none;
}

ol {
  font-family: var(--font-secondary);
}

blockquote {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
}

mark {
  background-color: white;
}

img {
  width: 75%;
}

.content {
  margin-top: 3em;
}

.fade {
  background-image: linear-gradient(to top, transparent, rgba(225, 225, 225, 0), rgba(225, 225, 225, .5) 25%), url("../images/banner.jpg");
}

nav a{
  text-decoration: none;
  border-left: .15em solid var(--color-primary);
  color: var(--color-primary);
  font-family: var(--font-secondary);
}

a:hover {
  background-color: var(--color-primary);
  border-radius: .25em;
  color: white;
}

header {
  border-bottom: .25em solid var(--color-primary);
}

footer {
  background-color: var(--color-primary);
  color: white;
}

.title {
  filter: contrast(100%) grayscale(0%);
  border-radius: 1em;
}

.title:hover {
  filter: contrast(100%) grayscale(100%);
}

ol a {
    color: white;
    text-decoration: none;
    font-family: var(--font-primary)

}

ol a:hover {
  color: grey;
}

ol {
  text-align: center left;
}

a {
  text-decoration: none;
}

embed {
  background-color: white;
  background: white;
}

form {
  display: block;
  max-width: 35em;
}
